// Place all the styles related to the Turbolyapps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.color-blue {
  background-color: blue;
}

.text-color-red {
  color: #ff0000;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-font-14 {
  font-size: 14px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-700 {
  padding-left: 700px;
}